/*
  Really nothing noteworthy here. This is just CSS that I wrote and then minified.
*/

body {
  font-family: 'Inconsolata', monospace;
  background-color: #eeeeee;
  color: #444;
  text-align: left;
  line-height: 1.2;
}

div {
  margin: 35px auto;
  margin-top: 5%;
  max-width: 550px;
  height: 100%;
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
  -ms-animation: fadein 2.5s;
  -o-animation: fadein 2.5s;
  animation: fadein 2.5s;
}

b {
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}

a {
  color: #0000EE;
  text-decoration: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
